/*Ingredients component style*/
.submit-input:active {
  transform: scale(0.98);
  background-color: rgb(197, 184, 184);
}

.submit-input:hover {
  cursor: pointer;
  background-color: rgba(237, 214, 214, 0.999);
}

.ingredient-btn {
  width: 60px;
  height: 30px;
}
