/*Ingredients component style*/
.ingredients-container {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  position: relative;
  top: 60px;
  left: 50px;
  font-family: "mukta", "sans-serif";
  letter-spacing: 2px;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredient-input {
  margin-top: 10px;
  height: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bolder;
}

.cuisine-input {
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bolder;
}

.meal-input {
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bolder;
}

.health-type {
  height: 40px;
  border-radius: 10px;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bolder;
}

.submit-input {
  height: 40px;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  padding: 5px;
  font-weight: bolder;
}

.submit-input:active {
  transform: scale(0.98);
  background-color: rgb(197, 184, 184);
}

.submit-input:hover {
  cursor: pointer;
}
